{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!--
    <div>
        <form class="form-signin" method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign in with Username</h1>
            <input type="text" name="username" class="form-control" placeholder="Username/Email" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
        <br />
        <form class="form-signin" method="post" action="{% url 'accounts:password_reset' %}">
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Forgot Your
            Password?</button>
        </form>
    </div>
-->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="mb-4">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Already Have An Account?</h5>
                <h1 class="text-white">Login</h1>
            </div>
        </div>
    <div class="col-lg-5">
    <div class="card border-0">
        <div class="card-header bg-light text-center p-4">
            <h1 class="m-0">Login</h1>
        </div>
        <div class="card-body rounded-bottom bg-primary p-5">
            <form method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" class="form-control border-0 p-4" placeholder="Your name/email" required="required" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control border-0 p-4" placeholder="Your Password" required="required" />
                </div>
                <div>
                    <button class="btn btn-dark btn-block border-0 py-3" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}