{% load static %}
<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Need Any Courses</h5>
                    <h1 class="text-white">30% Off For New Students</h1>
                </div>
                <p class="text-white">با وارد شدن با اکانت شخصی خودتون میتونید از امکانات زیر بهره مند شوید
                </p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>ثبت نام در هر دوره آموزشی</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>قابلیت مشاهده پست های مخصوص اعضا</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>قابلیت کامنت گذاری در زیر پست ها</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">Course Selector</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        {% if request.user.is_authenticated %}
                        <!--
                        <div class="bg-light text-center">
                            <h1 class="m-0">Logged in as {{request.user.username}}</h1>
                        </div>
                    -->
                        <div class="form-group">
                            <input type="text" class="form-control border-0 p-4" placeholder="Logged in as {{request.user.username}}" disabled />
                        </div>
                        <div>
                            <select class="custom-select border-0 px-4" style="height: 47px;">
                                <option selected>Select a course</option>
                                <option value="1">Course 1</option>
                                <option value="2">Course 2</option>
                                <option value="3">Course 3</option>
                            </select>
                            <br>
                            <br>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3">Select Course</button>
                            </div>
                        </div>
                        {% else %}
                        <div>
                            <a class="btn btn-dark btn-block border-0 py-3" href="{% url 'accounts:login' %}">Already have an account? Login</a>
                        </div>
                        <br>
                        <div>
                            <a class="btn btn-dark btn-block border-0 py-3" href="{% url 'accounts:signup' %}">Sign up Now</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->